<div class="game-container">
  <h2>Tic-Tac-Toe</h2>
  <button (click)="startGame()" *ngIf="this.game.gameStatus === 0" class="text-white font-weight-bold mt-3 rounded btn btn-warning">Start Game</button>
  <p class="current-status mt-4">Current Player: {{this.game.currentPlayer}}</p>
  <div class="row mt-2">
    <div class="green col color"></div>
    <span>Player 1</span>
  </div>
  <div class="row mt-2">
    <div class="red col color"></div>
    <span>Player 2</span>
  </div>

  <div class="game-field w-100">
    <div class="row m-0 w-100">
      <div class="subfield col-4"></div>
      <div class="subfield col-4"></div>
      <div class="subfield col-4"></div>
    </div>
    <div class="row m-0 w-100">
      <div class="subfield col-4"></div>
      <div class="subfield col-4"></div>
      <div class="subfield col-4"></div>
    </div>
    <div class="row m-0 w-100">
      <div class="subfield col-4"></div>
      <div class="subfield col-4"></div>
      <div class="subfield col-4"></div>
    </div>
  </div>
</div>
