@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');

/* font-family: 'Lobster', cursive;
font-family: 'Righteous', cursive; */


.game-container{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  padding: 50px 20px !important;
}
h2{
  color: orange;
  font-family: 'Lobster', cursive
}
p,span{
  font-family: 'Righteous', cursive;
}
.game-field{
  margin-top: 30px;
}
.subfield{
  cursor: pointer;
  border: 1px solid rgb(197, 94, 20);
  height: 100px;
}
.color{
  width: 25px;
  height: 25px;
  margin-right: 20px;
  border-radius: 50%;
}
.green{
  background: green;
}
.red{
  background: red;
}
.player-two{
  background-color: red;
}
.player-one{
  background: green;
}
.winner{
  background: rgb(20, 194, 20);
  padding: 20px 10px;
  color: white;
  border: 2px solid orange;
  border-radius: 15px;
}
